.footbar{
    background-color: black;
    justify-content: center;
    margin-top: 25px;
}
.footbar .Social i{
    font-size: 40px;
    padding: 20px;
    color: white;
}

.footbar .Social,.footbar .pages,.footbar .copy-right{
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
}
.footbar .pages li{
    list-style: none;
    padding: 10px;
    font-size: 20px;
}

.footbar .Social i:hover,.footbar .pages li:hover{
    color: rgb(37, 241, 99);
}