
.post img{
    display: block;
}
.main .post:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
    
}
.main .post:nth-child(even) .d{
    background-image: linear-gradient(to right,rgb(226, 255, 226),rgb(112, 119, 114));
    color: black;
}
.main .post:nth-child(odd) .d{
    background-image: linear-gradient(to right,darkgreen,rgb(120, 236, 159));
    color: white;
}

.post{
    display: flex;
    margin-top: 8px;
    box-shadow: 5px 1px 28px 8px rgba(72,202,167,0.39);
-webkit-box-shadow: 5px 1px 28px 8px rgba(72,202,167,0.39);
-moz-box-shadow: 5px 1px 28px 8px rgba(72,202,167,0.39);
}
.post .about-post *{
    padding-right: 4px;
}

.post .post-detail{
    margin-top: 10px;
}
.pah{
    padding: 30px;
    background-color: gray;
}