
.post img{
    display: block;
}
.main .post:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
    
}
.main .post:nth-child(even) .d{
    color: black;
}
.main .post:nth-child(odd) .d{
    background-image: linear-gradient(to right,darkgreen,rgb(120, 236, 159));
    color: white;
}

.post{
    display: flex;
    margin-top: 8px;
    box-shadow: 3px 3px 3px rgba(235, 247, 235, 0.911);
}
.post .about-post *{
    padding-right: 4px;
}

.post .post-detail{
    margin-top: 10px;
}