.TB{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.NavBar{
    background-image: linear-gradient(to right,darkgreen,rgb(120, 236, 159));
}
.NavBar .ul{
    display: flex;
}
.NavBar .ul .li{
    list-style: none;
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 15px;
}
.NavBar .ul .li:hover{
    background-color: white;
    color: darkgreen;
}

@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    .TB i{
        display: none;
    }
  }
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .TopBar .row{
        display: flex;
        flex-direction: column-reverse;
    }
    .Social{
        justify-content: center;
    }
    .NavBar .ul{
        flex-direction: column;
    }
    .non{
        display: none;
    }
    .TB{
        box-shadow: 5px 5px 5px seagreen;
    }
    
  }